<div id="calculator">
    <div id="inputer" >
        <input style="width:80px; height: 30px;" type="string" [(ngModel)]="num1" id="myInput">
    </div>

   
 

    <div id="numbers">
        <button (click)="add('1')">1</button>
        <button (click)="add('2')">2</button>
        <button (click)="add('3')">3</button><br> 
        <button (click)="add('4')">4</button>
        <button (click)="add('5')">5</button>
        <button (click)="add('6')">6</button><br>
        <button (click)="add('7')">7</button>
        <button (click)="add('8')">8</button>
        <button (click)="add('9')">9</button><br>
        <button (click)="add('0')">0</button>
    </div>

    <div id="signs">
        <button (click)="add('+')">+</button>
        <button (click)="add('-')">-</button>
        <button (click)="add('*')">*</button>
        <button (click)="add('/')">/</button>
        <button (click)="add('=')">=</button>
    </div>




    <div>
        <h3>Resulte:{{resulte}}</h3>
    </div>

</div>